*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1280px;
    margin: 0 auto;
}
h1 a{
    color: #000;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    list-style-type: none;
    

}
h1 span{
    color: #4BCAFF;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.menu-header{
    margin-top: 64px;
    background-color:#35444F;
    height: 69px;
}

.menu{
    /* padding: 0 80px; */
    display: flex;
    justify-content: center;
    list-style-type: none;
   
}
.menu-item{
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69px;
    border-left: 2px solid #FFF;
}
.menu-item:last-child{
    border-right: 2px solid #FFF;
}


.menu-link{
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    
}
.menu-link:hover{
    background: url(/icon/hover.jpg);
}

.ramda{
    min-height: 450px;
    padding: 49px 0 54px 0;
}
.ramda-menu{
    padding: 15px 0 ;
    border: 1px solid #000;
}
.main-wrapp {
    padding-right: 52px;
    height: 400px;
}
.wrapp-img{
    width: 885px;
    height: 529px;
    border: 1px solid #000;
    padding: 75px 268px 73px 297px;
}
.ramda-img{
    display:flex;
    justify-content: center;
    width: 320px;
    height: 381px;
}

.ramda-item{
  
    list-style-type: none;
    margin-top: 25px;
    color: #495863;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    margin-left: 44px;
    width: 226px;
    height: 27px;
}

.ramda-link{
    padding: 10px 10px;
    text-decoration: none;
}
.ramda-link:hover{
    color: #495863;
    background:#DBDBDB;
    width: 226px;
    height: 27px;
}
.ramda-wrapper{
    display: flex;
    justify-content: space-between;
}
.main-wrapp{
    width: 344px;
}
.second-wrapp{
    width: 885px;
}

.ramda-descr{
    margin-top: 37px;
}

footer{
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
}

.menu-footer{
    display: flex;
    justify-content: space-between;
}

.menu-content{
    display: flex;

}

.footer-item{
    padding: 20px 20px;
    list-style: none;
}

.footer-link{
    text-decoration: none;
    color: #0C1927;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
}

.footer-descr{
    padding: 20px 20px;
    color: #010101;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.footer-link:hover{
    color: #3181A6;
    text-decoration: underline;
}